<html>
<head >
	<style>
		.book{
			padding-block-start:15px;
			box-shadow:0 0 10px rgba(0,0,0,0.2);

		}
		
		.book::after{
			content:"";
			clear : both;
			display:table;

			
			
		}
		.img{
			float:left;
			padding-right:20px;
			
			
		}
		.text{
			padding-top:5px;
			margin:auto;
			position:static;
			text-align:justify;
		}
		.fixed-header{
			background-color: white;
			top:0;
			width:100%;
			position:fixed;
			border-bottom:2px solid black;
		}


	</style> 
</head>
<body>
	<div class="fixed-header">
		<h2 align="center">ORTHOPAEDIC BOOKS</h2>
	</div><br><br><br><br>

  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41ybX2j6jfL._SX403_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>1.Orthopaedics for Physician Assistants</h2> <b>Author </b>JENNAR A.HART<i> - 2nd edition</i></p>
	    <a href ="https://www.amazon.com/dp/0323709842?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>

  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41Qeos0YohL._SX218_BO1,204,203,200_QL40_FMwebp_.jpg"  alt="artho"  height="250">
	<div class="text">
		<p><h2>2.Orthopaedic Knowledge Update Musculoskeletal Tumors 3:</h2> <b>Author </b> J. Sybil Biermann M.D. (Editor)<i> Third Edition</i></p>
	    <a href ="https://www.amazon.com/dp/1975122496?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51DtkxoscUL._SX388_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>3.DeLee & Drez's Orthopaedic Sports Medicine 2-Volume Set, </h2> <b>Author </b>Miller MD, Mark D., Thompson MD, Stephen R. Hardcover<i> - Fourth edition</i></p>
	    <a href ="https://www.amazon.com/DeLee-Drezs-Orthopaedic-Sports-Medicine/dp/B014I86XJ6?tag=uuid10-20">view on amazon</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51hKlEZ6CRL._SX335_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>4.Surgical and Anaesthetic Instruments for OSCEs: A Practical Study Guide (Master Pass Series)  </h2> <b>Author </b>Kelvin Yan<i> - First edition</i></p>
	    <a href ="https://www.amazon.com/dp/0367358948?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41-DFZZt0KS._SX351_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>5.Netter's Orthopaedic Clinical Examination: An Evidence-Based Approach (Netter Clinical Science)  </h2> <b>Author </b>Joshua Cleland PT PhD , Shane Koppenhaver PT PhD , Jonathan PT DPT LMT
		  <i> - Fourth edition</i></p>
	    <a href ="https://www.amazon.com/dp/0323695337?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/P/1260143872.01._SCLZZZZZZZ_SX500_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>6.Dutton's Orthopaedic: Examination, Evaluation and Intervention  </h2> <b>Author </b>Mark Dutton
		  <i> - Fifth edition</i></p>
	    <a href ="https://www.amazon.com/dp/1260143872?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41ljh3sTMtS._SX331_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>7.High-Yield Orthopaedics: OITE & ABOS Review for Orthopaedic Providers </h2> <b>Author </b> Dr. Hai Van Le
		  <i> - Fifth edition</i></p>
	    <a href ="https://www.amazon.com/dp/B096TTQG6T?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/510yGoywWoL._SX218_BO1,204,203,200_QL40_FMwebp_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>8.Tachdjian's Pediatric Orthopaedics: From the Texas Scottish Rite Hospital for Children : 2-Volume Set </h2> <b>Author </b> John A. Herring MD
		  <i> - Sixth edition</i></p>
	    <a href ="https://www.amazon.com/dp/032356769X?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/P/1447167678.01._SCLZZZZZZZ_SX500_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>9.Paediatric Orthopaedics in Clinical Practice </h2> <b>Author </b> Nick A. Aresti (Editor), Manoj Ramachandran (Editor), Mark (J.M.H.) Paterson (Editor), Matthew Barry (Editor)
		  <i> - First edition</i></p>
	    <a href ="https://www.amazon.com/dp/1447167678?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/P/0323609783.01._SCLZZZZZZZ_SX500_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>10.Miller's Review of Orthopaedics (Miller'sOrthopaedics) </h2> <b>Author </b> Mark D. Miller MD (Author), Stephen R. Thompson MD MEd FRCSC
		  <i> - 8th edition</i></p>
	    <a href ="https://www.amazon.com/dp/0323609783?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/P/B07XZCJDM2.01._SCLZZZZZZZ_SX500_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>11.Illustrated Tips and Tricks in Hip and Knee Reconstructive and Replacement Surgery ) </h2> <b>Author </b>by Daniel J. Berry MD (Editor), Mark W. Pagnano MD (Editor)
		  <i> - First edition</i></p>
	    <a href ="https://www.amazon.com/dp/149639206X?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/P/1975168798.01._SCLZZZZZZZ_SX500_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>12.Surgical Exposures in Orthopaedics: The Anatomic Approach ) </h2> <b>Author </b>by Dr. Piet de Boer MD (Author), Richard Buckley MD FRCSC (Author), Stanley Hoppenfeld MD (Author)
		  <i> - Sixth edition</i></p>
	    <a href ="https://www.amazon.com/dp/1975168798?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/P/B094X8H73J.01._SCLZZZZZZZ_SX500_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>13.Operative Techniques in Orthopaedic Surgery </h2> <b>Author </b>by Sam W. Wiesel MD (Author), Todd Albert MD (Editor)
		  <i> - third  edition</i></p>
	    <a href ="https://www.amazon.com/dp/1975168798?tag=uuid10-20">buy this book</a>
	</div>
  </div><br>
  <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71r16TKhjtL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>14.Natarajan’s Textbook of Orthopaedics & Traumatology </h2> <b>Author </b>by Natrajan (Author), Todd Albert MD (Editor)
		  <i> - eighth  edition</i></p>
	    <a href ="https://amzn.eu/d/j3bmGNI">buy this book</a>
	</div>
  </div><br>
 <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/6164gH92ZVL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>15.Orthopedics Quick Review (OPQR) </h2> <b>Author </b>by  Apurv Mehra</p>
	    <a href ="https://amzn.eu/d/cq7mt5h">buy this book</a>
	</div>
  </div><br>
 <div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41UCqTYaC6L._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>16.Textbook of Orthopedics </h2> <b>Author </b>by John ebenezar
		  <i> - fifth edition </i></p>
	    <a href ="https://amzn.eu/d/c1GiK80">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81AZyn3QWuL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>17.Bedside Clinics in Orthopedics</h2> <b>Author </b>by Upendra kumar
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/c0Mr5of">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81jj89SvdWL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>18.Essential Orthopaedics</h2> <b>Author </b>by  J Maheshwari and Vikram A Mhaskar
		  <i> - sixth edition </i></p>
	    <a href ="https://amzn.eu/d/g08T7hW">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51AkZt+j9yL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>19.Diagnosing Orthopedic Pain : THE ART OF DIFFERENTIAL DIAGNOSIS IN ORTHOPEDIC PAIN CONDITIONS</h2> <b>Author </b>by  by S.Kumaravel
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/aZvaCQ2">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41X0OqBkBFL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>20.Essentials of Orthopedics and Applied Physiotherapy, 4e</h2> <b>Author </b>by  by by Prakash P Kotwal and Kanchan Mittal
		  <i> - fourth edition </i></p>
	    <a href ="https://amzn.eu/d/8EkwnKz">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/31x7TwLzS6L._AC_UY295_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>TEXTBOOK OF ORTHOPAEDICS (PB 2023)</h2> <b>Author </b>by   by Edward L Nazareth and Jacob K Ipe
		  <i> - fourth edition </i></p>
	    <a href ="https://amzn.eu/d/dblTYEI">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41b5mlthfxL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>22.Textbook of Orthopaedics, 1e</h2> <b>Author </b>by   by  SC Goel MS (Ortho) FAMS FICS FASIF (Swiss) and Sudhir S Babhulkar
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/fN1xWJ8">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51KhsWARFBL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>23.SHORT TEXTBOOK OF ORTHOPEDICS FOR UNDERGRADUATE STUDENTS (PB 2018)</h2> <b>Author </b>by   by   EBNEZAR J.
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/atze45v">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41Qduut2xYL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>24.Textbook of Orthopedics, 2e</h2> <b>Author </b>by   by   SUD.
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/axzHh4l">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81A9Y70jFUL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>25.Manual of Orthopaedics, 8/e</h2> <b>Author </b>by   by Swiontkowski.
		  <i> - eighth edition </i></p>
	    <a href ="https://amzn.eu/d/bx1GTLh">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41W4aYd4jCL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>26.Master Techniques in Orthopaedic Surgery: The Spine</h2> <b>Author </b>by   by Thomas A. Zdeblick MD and Todd Albert MD
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/9WWTlN2">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41IWm4QFCqL._AC_UY327_FMwebp_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>27.Oxford Textbook of Trauma and Orthopaedics</h2> <b>Author </b>by   byChristopher Bulstrode, James Wilson-MacDonald, et al.
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/a8eVHWy">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51BCwslbGML._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>28.Essentials of Orthopedics for Physiotherapists</h2> <b>Author </b>by   by john ebenezar.
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/i8Vok7z">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/31MS+6ZrFzL._AC_UY249_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>29.Essential of Orthopedics & Trauma (Adaptation)</h2> <b>Author </b>by   by  Dandy and S.C. Goel.
		  <i> - first south asian edition </i></p>
	    <a href ="https://amzn.eu/d/9c23QyN">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41SS3S2x1DL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>30.Handbook of Foot and Ankle Orthopedics)</h2> <b>Author </b>by   by Rajiv singh.
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/f11U2sn">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51AkZt+j9yL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>31.Diagnosing Orthopedic Pain : THE ART OF DIFFERENTIAL DIAGNOSIS IN ORTHOPEDIC PAIN CONDITIONS</h2> <b>Author </b>by   by  S.Kumaravel
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/8YXoRD2">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51IMVQ6zpSL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>32.Essential Orthopedics: Principles and Practice (2 Volume Set): Two Volume Set</h2> <b>Author </b>by   Manish Kumar Varshney
		  <i> - third  edition </i></p>
	    <a href ="https://amzn.eu/d/3RlOsj1">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51AQH2z39qL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>33.Fundamentals of Orthopedics</h2> <b>Author </b>by   by    Mukul Mohindra and Jitesh Kumar Jain.
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/97sDG3M">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/713q-EJIm-L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>34.Practical Orthopedic Examination Made Easy</h2> <b>Author </b>by    Manish Kumar Varshney 
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/35u5iXh">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41pNhuEfr+L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>35.Recent Advances in Orthopaedics 4</h2> <b>Author </b> by Gregg R Klein and Paul Maxwell Courtney
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/3C8msgT">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/816oP83HSLL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>36.DeLee, Drez and Miller's Orthopaedic Sports Medicine: 2-Volume Set</h2> <b>Author </b>  by Mark D. Miller MD and Stephen R. Thompson MD MEd FRCSC
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/7Cja17V">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81BtS7nkeGL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>37.Orthopaedics Concept Book for NEETPG FMGE NEXT</h2> <b>Author </b>  by DAMS Faculty
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/bN99IJO">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51Z2EJdMhtL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>38.Orthopaedic Physiotherapy, 1e (Cash's Textbook)</h2> <b>Author </b>by  Marian Tidswell MA BA FCSP Dip TP ONC.
		  <i> - first south asian edition </i></p>
	    <a href ="https://amzn.eu/d/i706H1x">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71zLr+7wEbL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>39.Simplified Approach to Orthopedic Physiotherapy: Rationale and Rehabilitation</h2> <b>Author </b>   Mukesh Sharma |		 
           <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/6ohrgzL">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/91CucL1JaFL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>40.Orthopedic Problems In Women,</h2> <b>Author </b> by Ebenezar|		 
           <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/1Fv7N17">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41qUX+QRC5L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>41.Essential Orthopaedics(Including Clinical Methods)</h2> <b>Author </b>by Mageshwari
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/3p9T0Z4">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51VxyzErb0L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>42.Orthopedics Quick Review (Opqr): Magic Book Of Orthopedics</h2> <b>Author </b>by Apurv mehra 
		  <i> - seventh edition </i></p>
	    <a href ="https://amzn.eu/d/8IVeYzO">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71nGUkReX8S._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>43.Surgical Exposures in Orthopaedics: The Anatomic Approach</h2> <b>Author </b>by  MD de Boer, Dr. Piet, FRCSC Buckley, Richard, MD, et al.
		  <i> - seventh edition </i></p>
	    <a href ="https://amzn.eu/d/9G79cB6">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51TAmMNQ8ML._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>44.Radiology of Orthopedic Implants</h2> <b>Author </b>by  Sanjeev Agarwal and Gaurav Jyoti Bansal
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/9Ut9Jt9">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/8109Ux-RE-L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>45.ADULT ORTHOPEDIC PROBLEMS,</h2> <b>Author </b> by ebenezar.G
		  <i> - 73rd volume </i></p>
	    <a href ="https://amzn.eu/d/44xLfdw">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81OVucBKZmL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>46Gopalan's Evidence Based Orthopaedic Principles 2nd/rep 2023</h2> <b>Author </b>  by Hitesh Gopalan U and Ashok N Johari
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/g0YMzGZ">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41LUdwQRS5L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>47.Orthopedic Secrets</h2> <b>Author </b>  by Dd tanna
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/fGDL7dg">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51ls8Oxq8HL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>48.Textbook of Orthopedic Rheumatology</h2> <b>Author </b>by Manish Khanna .
		  <i> - edition not specified </i></p>
	    <a href ="https://amzn.eu/d/1C5hUFA">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81SbcmeAjSL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>49.Master Techniques in Orthopaedic Surgery Pediatrics 2ed (Hb 2016)</h2> <b>Author </b> Skaggs DL		 
           <i> - second  edition </i></p>
	    <a href ="https://amzn.eu/d/35fyVFX">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51FIyTlNGtL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>50.Traction and Orthopaedic Appliances,</h2> <b>Author </b> by J.D.M. Stewart and J.P. Hallett		 
           <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/206RWqW">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/516auK0+noL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>51.Orthopedic Navigator: An Orthopedic Guide for Postgraduates</h2> <b>Author </b>by Febin Ahamed PI, Jacob Eapen, et a
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/2wxR6Ql">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71WlS6zpR1L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>52.OLingual Orthodontics</h2> <b>Author </b>by Dr. Vidya Bhushan and Dr. Shilpa Rai
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/jcXd089">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41DRzT0LLqS._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>53.Textbook of Orthopaedics, 1edition</h2> <b>Author </b>by   Alok Sud and Rahul Ranjan 
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/eE3hvhw">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/91jhjZUiwVL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>54.Vetrivel Textbook of Orthopaedics, Vol I & II</h2> <b>Author </b>by  S. Vetrivel Chezian
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/35DiXux">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81a2i8m4wwL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>55.Fundamentals Of Orthopaedics</h2> <b>Author </b> by NV.singh
		  <i> - 3rd volume </i></p>
	    <a href ="https://amzn.eu/d/9lBWAOV">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71R1XFTV53L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>56.Pocket Book of Orthopedics (Excision of the Trapezium and posterior Approach to Hip Joint)</h2> <b>Author </b>  by Iyer K Mohan
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/9fUcnzf">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/61pRsOaU71L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>57.Essential Biomechanics for Orthopedic Trauma: A Case-Based Guide</h2> <b>Author </b>  by Brett D. Crist, Joseph Borrelli Jr., et al.
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/dEhXL71">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41n50LewqAL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>58.Tips and Tricks in Orthopedic Surgery</h2> <b>Author </b>by Damle Ajit N
		  <i> - edition not specified </i></p>
	    <a href ="https://amzn.eu/d/fYfwAS5">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/417CgnnOlEL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>59.METABOLIC ORTHOPEDIC PROBLEMS (HANDBOOKS IN ORTHOPEDICS AND FRACTURES SERIES, VOL.30: ORTHOPEDIC DISEASE)))</h2> <b>Author </b> EBNEZAR J		 
           <i> - no edition specified </i></p>
	    <a href ="https://amzn.eu/d/2n0WsTi">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51l9jeM7fiL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>60.Physiotherapy in Orthopaedic and Rheumatologic Conditions</h2> <b>Author </b> by MEGHA SANDEEP SHETH		 
           <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/d7XBr9q">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41LHHhryj0L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>61.Paediatric Orthopaedics: A System of Decision-Making, Second Edition</h2> <b>Author </b>by  Benjamin Joseph, Selvadurai Nayagam,
		  <i> -  Second Edition </i></p>
	    <a href ="https://amzn.eu/d/jlvTT9o">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/4155TKJKYKL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>62.Regional Orthopedic Problems Of Spine</h2> <b>Author </b>by Ebnezar J.
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/5oJChaa">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71veM2w+IRL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>63.Textbook of Orthopaedic Medicine: Volume. 2: Treatment by Manipulation, Massage and Injection: v. 2</h2> <b>Author </b>by   James H. Cyriax MD MRCP and Margaret Coldham 
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/gPtPWp7">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41XfC4pb7rL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>64.TEXTBOOK OF ORTHOPEDIC PHYSIOTHERAPY (PB 2021)</h2> <b>Author </b>by  KAPOOR PS
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/0jGdIz5">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/61bqwN6BECL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>65.Frcs Orthopaedics - Practice Technique - Section One EMI</h2> <b>Author </b> by F R Hashmi F R Hasmi
		  <i> - 3rd volume </i></p>
	    <a href ="https://amzn.eu/d/2LdViQU">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71mcfzJq6HL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>66.Regenerative Treatments in Sports and Orthopedic Medicine</h2> <b>Author </b>  by Gerard A. Malanga and Victor Ibrahim
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/9zGU1WB">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81pS+fHedLL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>67.Clinical Orthopaedic Diagnosis</h2> <b>Author </b>  by Sureshwar Pandey and Anil Kumar Pandey
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/cIVKdFS">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51+T+5nioHL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>68.ORTHOPEDICS COMPLETE : UPDATED FROM " MAHESWARI AND WHEELESS TEXTBOOK OF ORTHOPEDICS"</h2> <b>Author </b>by GOYAL, VIJAY
		  <i> - edition not specified </i></p>
	    <a href ="https://amzn.eu/d/aDjRRtJ">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/61pazQKHV+L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>69.Orthopedic Clinics: Hip: With Video Demonstration</h2> <b>Author </b> Sudhir K. Kapoor		 
           <i> - no edition specified </i></p>
	    <a href ="https://amzn.eu/d/iI30moe">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71gXmqKe-uL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>70.Orthopedics Quick Review All Topics Till January 2016 Covered</h2> <b>Author </b> by Mehra Apurv		 
           <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/dmO68hP">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51KubY1ezXL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>71.Essentials of Orthopaedics & Applied Physiotherapy -</h2> <b>Author </b>by Prakash P Kotwal | 28 October 2016
		  <i> -  Third Edition </i></p>
	    <a href ="https://amzn.eu/d/cJRkcQN">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/61kNkNPO1vL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>72.Concise Orthopaedic Notes: Revision aid</h2> <b>Author </b>by Firas Arnaout Frcs.
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/7DWisWC">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51a4x-oyaFL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>73.Safe Orthopaedic Surgery: The Anatomic Principles and Techniques for Preventing Complications</h2> <b>Author </b>by   venkatesh babu
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/bZe5mq6">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/91bNO7qZK1L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>74.Netter's Concise Orthopaedic Anatomy, Updated Edition (Netter Basic Science)</h2> <b>Author </b>by Jon C. Thompson MD
		  <i> - updated edition </i></p>
	    <a href ="https://amzn.eu/d/dwdpi4k">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/610n8+5YHpL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>75.Spätergebnisse in der Orthopädie</h2> <b>Author </b> by Walter Blauth (Editor), Hans-Wolfram Ulrich (Editor)
		  <i> - german edition </i></p>
	    <a href ="https://amzn.eu/d/3bjzHF8">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/81FQcvR3dUL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>76.Orthopaedic Insight Series 1 : Principles of Fracture Treatment</h2> <b>Author </b>  by Arun Vashisht | 1 July 2020
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/0M5N7E8B">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/6188JhxOdtL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>77.Textbook of Orthopedics & Trauma, 3/e 2016 Vol.4 - ( Volume 4 Contains : The Hip, Injuries of the Knee Joint, Diseases of the Knee Joint, Injuries of the Ankle and Foot , Disorders of Ankle and Foot, Pediatric Orthopedics : Trauma, Pediatric Orthopedics : General, Microsurgery, Arthroplasty, Arthrodesis, Amputations, and Rehabilitation : Prosthetics and Orthotics.)</h2> <b>Author </b>  by Sureshwar Pandey and Anil Kumar Pandey
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/j42numm">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41HlS3KexdL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>78.Intra-articular and Allied Injections (POD)"</h2> <b>Author </b>by GOYAL, VIJAY
		  <i> - edition not specified </i></p>
	    <a href ="https://amzn.eu/d/hlj0v12">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/61M5a9afixL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>79.Rehabilitation in Orthopedic Surgery</h2> <b>Author </b>Andreas B. Imhoff, Augustus D Mazzocca,	 
           <i> - no edition specified </i></p>
	    <a href ="https://amzn.eu/d/gPrMpEy">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41hw2Y5Pu4L._SX322_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>80.A History of Orthopedics</h2> <b>Author </b> by  Justin Howland M D		 
           <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/4G82Olw">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/416ig4jtL2L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>81.Recent Advances in Orthopedics-2</h2> <b>Author </b>byP. Maxwell Courtney
		  <i> -  Third Edition </i></p>
	    <a href ="https://amzn.eu/d/bJX5RhR">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/510n7M4Lw0L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>82.ARTHROPLASTY (HANDBOOKS IN ORTHOPEDICS AND FRACTURES SERIES, VOL. 62 -ORTHOPEDIC INJURIES AND SURGERIES): Orthopedic Injuries and Surgeries: Arthroplasty</h2> <b>Author </b>by Firas Arnaout Frcs.
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/1gfTiDB">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71nEJ7Xe2PS._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>83.Clinical Orthopedic Examination of a Child</h2> <b>Author </b>by  Nirmal Raj Gopinathan
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/g8iYYdV">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/511HXHahCTL._SX317_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>84.Injuries and Surgeries Of Foot and Ankle (Handbooks In Orthopedics and Fractures Series, Vol. 58: Orthopedic Injuries and Surgeries Lower Limb): ... Injuries and Surgeries of Foot and Ankle Hardcover </h2> <b>Author </b>by Injuries and Surgeries Of Foot and Ankle (Handbooks In Orthopedics and Fractures Series, Vol. 58: Orthopedic Injuries and Surgeries Lower Limb): ... Injuries and Surgeries of Foot and Ankle Hardcover MD
		  <i> - updated edition </i></p>
	    <a href ="https://amzn.eu/d/g8iYYdV">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41+bUMxnABL._SX258_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>85OPERATIVE TECHNIQUES IN ORTHOPAEDIC TRAUMA SURGERY 3ED</h2> <b>Author </b> by MD Tornetta, III, Paul
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/0eL2yW3">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41-Z5SsajRL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>86.Oxford Handbook of Orthopedics and Trauma (Oxford Medical Handbooks)t</h2> <b>Author </b>  by Gavin Bowden, Martin Mcnally,
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/fbBB6RV">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/615uz8yCG0L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>87.MINIMALLY INVASIVE SURGERY IN ORTHOPEDICS: FOOT AND ANKLE HANDBOOK)</h2> <b>Author </b>  by Giles R. Scuderi and Alfred J. Tria
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/gfrXPng">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71GHp3bJr2L._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>88.ARTHROSCOPY"</h2> <b>Author </b>byEBNEZAR J.
		  <i> - edition not specified </i></p>
	    <a href ="https://amzn.eu/d/hgKR7ST">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71WRsRIHbRL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>89.Tumor Conditions In Orthopedics (Handbooks In Orthopedics and Fractures Series, Vol. 36: Orthopedic Disease): Orthopedic D...
Tumor Conditions In Orthopedics (Handbooks In Orthopedics and Fractures Series, Vol. 36: Orthopedic Disease): Orthopedic Disease: Tumor Conditions in Orthopedics</h2> <b>Author </b>Ebnezar J.,	 
           <i> - no edition specified </i></p>
	    <a href ="https://amzn.eu/d/9uIo6F0">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51l4tjLH-GL._SX390_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>90.Orthopedics</h2> <b>Author </b> by  Mark Miller		 
           <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/8w2PV1d">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/61G4-47dLNL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>91.Basics in Hip and Knee Arthroplasty, </h2> <b>Author </b>by Shrinand Vaidya
		  <i> -  second Edition </i></p>
	    <a href ="https://amzn.eu/d/7ZxMRRv">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41BvpnUE3QL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>92.Handbook on Flaps in Crush Injuries of the Hand</h2> <b>Author </b>by Mahida Dhiren
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/5oUcMaF">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/21jB2ZqzwZL._AC_UY218_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>93.Textbook Of Basic And Clinical Orthopedics</h2> <b>Author </b>by DNB(Ortho) Dr.M.N.KUMAR(MS RCS(England),FRCS(Glasgow)
		  <i> - first edition </i></p>
	    <a href ="https://amzn.eu/d/6AwKfAT">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/91Nji7zOYVL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>94. Textbook Of Orthopedics</h2> <b>Author</b> by Malhothra
		  <i> - updated edition </i></p>
	    <a href ="https://amzn.eu/d/iPxTcjN">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51KnwR5u4OL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>95.SHORTCUT TO ORTHOPAEDICS 2ED (PB 2018)</h2> <b>Author </b> by peralau
		  <i> - third edition </i></p>
	    <a href ="https://amzn.eu/d/hyQ4B98">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/41+fT3iYVeL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>96.Basics of Orthopaedic Physiotherapyt</h2> <b>Author </b>  by khatri
		  <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/dhfqnPB">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51uORjdsOgL._SX369_BO1,204,203,200_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>97.Essentials Of Prosthetics & Orthotics With Mcqs & Disability Assessment Guidelines</h2> <b>Author </b>  Agarwal
		  <i> - second edition </i></p>
	    <a href ="https://amzn.eu/d/1yfLRvz">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/71niVcIlAqS._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>98.Mercer's Textbook of Orthopaedics and Trauma Tenth edition"</h2> <b>Author </b>by Eugene Sherry, Mark Miller
		  <i> - edition not specified </i></p>
	    <a href ="https://amzn.eu/d/cRBHt8k">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/416DJ7J48SL._AC_UY327_QL65_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>99.Stedman's Orthopaedic and Rehab Words: With Podiatry, Chiropractic, Physical Therapy and Occupational Therapy Words</h2> <b>Author </b>by J.L. Stedman	 
           <i> - no edition specified </i></p>
	    <a href ="https://amzn.eu/d/gxCFWoR">buy this book</a>
	</div>
  </div><br>
<div class="book">
	<img class = "img" src="https://m.media-amazon.com/images/I/51lm6ZMw7GL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"  alt="artho"  width="200" height="">
	<div class="text">
		<p><h2>100.QUICK ORTHOPEDICS REVIEW</h2> <b>Author </b> by MOHINDRA M 		 
           <i> -  edition not specified </i></p>
	    <a href ="https://amzn.eu/d/eecStqa">buy this book</a>
	</div>
  </div><br>
 


 


</body>
</html>