<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>

<body>
 <style>
  a:link {
   text-decoration: none;
  }
  button{
   background-color:rgba(34, 35, 35, 0.233);
   padding:4px;
  }
 </style>
 <h2> articles for orthopaedic</h2>
 <div>
 <h3>1.Cognitive Training in Orthopaedic Surgery</h3>
 <p>Anderson MJJ, deMeireles AJ, Trofa DP, Kovacevic D, Ahmad CS, Lynch TS.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/33720112/">view article</a></button>
</div>
<br>
<div>
 <h3>2.Orthopaedic surgery, women and SECOT</h3>
 <p>Galeote Rodríguez JE.</p>
 <button>
 <a href=" https://linkinghub.elsevier.com/retrieve/pii/S1888-4415(22)00300-9 ">view article</a></button>
</div>
<br>
<div>
 <h3>3.Statistical Fragility of Surgical Clinical Trials in Orthopaedic Trauma</h3>
 <p>Forrester LA, McCormick KL, Bonsignore-Opp L, Tedesco LJ, Baranek ES, Jang ES, Tyler WK.</p>
 <button>
 <a href=" https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/34807889/">view article</a></button>
</div>
<br>
<div>
 <h3>4.Orthopaedic Outreach: An innovative programme for orthopaedic patients in remote areas of Newfoundland and Labrador</h3>
 <p>Donaghy C, Smith N, O'Dea F</p>
 <button>
 <a href="http://www.cjrm.ca/article.asp?issn=1203-7796;year=2022;volume=27;issue=4;spage=143;epage=147;aulast=Donaghy">view article</a></button>
</div>
<br>
<div>
 <h3>5.What every orthopaedic surgeon should know about COVID-19: A review of the current literature</h3>
 <p>Yung CS, Fok KCH, Leung CN, Wong YW.</p>
 <button>
 <a href="https://journals.sagepub.com/doi/10.1177/2309499020923499?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed">view article</a></button>
</div>
<br>
<div>
 <h3>6.Online educational resources for orthopaedic residency-a narrative review</h3>
 <p>Raja BS, Choudhury AK, Paul S, Rajkumar S, Kalia RB</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/34080048/">view article</a></button>
</div>
<br>
<div>
 <h3>7.Japanese Orthopaedic Association (JOA) clinical practice guidelines on the management of anterior cruciate ligament injury - Secondary publication.
 </h3>
 <p> Ishibashi Y, Adachi N, Koga H, Kondo E, Kuroda R, Mae T, Uchio Y</p>
 <button>
 <a href="https://linkinghub.elsevier.com/retrieve/pii/S0949-2658(19)30330-6">view article</a></button>
</div>
<br>

<div>
 <h3>8.Medical School Experiences Shape Women Students' Interest in Orthopaedic Surgery</h3>
 <p>Mary I O'Connor </p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/27084717/">view article</a></button>
</div>
<br>

<div>
 <h3>9.Roll Them Bones-Selecting Orthopaedic Surgery Residents by Lottery</h3>
 <p>Bernstein J.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/31764324/">view article</a></button>
</div>
<br>

<div>
 <h3>10.Top orthopedic sports medicine procedures</h3>
 <p>Vasta S, Papalia R, Albo E, Maffulli N, Denaro V.</p>
 <button>
 <a href="Top orthopedic sports medicine procedures">view article</a></button>
</div>
<br>

<div>
 <h3>11.Diversity in Orthopaedic and Trauma Practice.</h3>
 <p>Karachalios T, Athanaselis ED.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK585945">view article</a></button>
</div>
<br>

<div>
 <h3>12.Alpha-Mannosidosis.</h3>
 <p>Malm D, Nilssen Ø.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK1396">view article</a></button>
</div>
<br>

<div>
 <h3>13.Thoracic Trauma.</h3>
 <p><b>Ketai L, Primack SL.</b> 2019 Feb 20. In: Hodler J, Kubik-Huch RA, von Schulthess GK, editors.<br>
   Diseases of the Chest, Breast, Heart and Vessels 2019-2022: Diagnostic and Interventional Imaging [Internet].
    Cham (CH): Springer; 2019. Chapter 12.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK553870">view article</a></button>
</div>
<br>

<div>
 <h3>14.Rehabilitation Following Hip Fracture.</h3>
 <p><b>Dyer SM, Perracini MR, Smith T, Fairhall NJ, Cameron ID, Sherrington C, Crotty M.</b>
  2020 Aug 21. In: Falaschi P, Marsh D, editors. Orthogeriatrics: <br>The Management of Older Patients with Fragility Fractures [Internet].
  2nd edition. Cham (CH): Springer; 2021. Chapter 12.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK565580">view article</a></button>
</div>
<br>

<div>
 <h3>15.Shoulder Impingement Syndrome.</h3>
 <p><b>Creech JA, Silver S.</b>2023 Apr 17. In: StatPearls [Internet]. Treasure Island (FL): StatPearls Publishing; 2023 Jan–.</p>
 <button>
 <a href=>view article</a></button>
</div>
<br>

<div>
 <h3>16.Frailty and Sarcopenia.</h3>
 <p><b>Martin FC, Ranhoff AH</b>
  2020 Aug 21. In: Falaschi P, Marsh D, editors. Orthogeriatrics: The Management of Older Patients with Fragility Fractures [Internet].<br>
   2nd edition. Cham (CH): Springer; 2021. Chapter 4.</p>
 <button>
 <a href=>view article</a></button>
</div>
<br>

<div>
 <h3>17.Ganglion Cyst.</h3>
 <p><b>Gregush RE, Habusta SF.</b>022 Jul 18. In: StatPearls [Internet]. Treasure Island (FL): StatPearls Publishing; 2023 Jan</p>
 <button>
 <a href=>view article</a></button>
</div>
<br>

<div>
 <h3>18.Trendelenburg Gait.</h3>
 <p><b>Gandbhir VN, Lam JC, Rayi A.</b>In: StatPearls [Internet]. Treasure Island (FL): StatPearls Publishing; 2023 Jan.
  2022 Oct 6.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK541094">view article</a></button>
</div>
<br>

<div>
 <h3>19.Spinal Muscular Atrophy.</h3>
 <p><b>Prior TW, Leach ME, Finanger E.</b>University of Washington, Seattle; 1993.
  2000 Feb 24 [updated 2020 Dec 3].</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK1352">view article</a></button>
</div>
<br>

<div>
 <h3>20.Compartment Syndrome of the Lower Extremity.</h3>
 <p><b>Tillinghast CM, Gary JL</b>2019 Sep 3. In: Mauffrey C, Hak DJ, Martin III MP, editors.<br>
  Compartment Syndrome: A Guide to Diagnosis and Management [Internet]. Cham (CH): Springer; 2019. Chapter 8.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK553915">view article</a></button>
</div>
<br>

<div>
 <h3>21.Pycnodysostosis.</h3>
 <p><b>LeBlanc S, Savarirayan R</b> University of Washington, Seattle; 1993.
  2020 Nov 5 [updated 2023 Apr 6].</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK563694">view article</a></button>
</div>
<br>

<div>
 <h3>22.Trochanteric Bursitis.</h3>
 <p><b>Seidman AJ, Taqi M, Varacallo M.</b>In: StatPearls [Internet]. Treasure Island (FL): StatPearls Publishing; 2023 Jan.
  2022 Nov 20.</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/books/NBK538503">view article</a></button>
</div>
<br>
<div>
 <h3>23.Compartment Syndrome of the Lower Extremity</h3>
 <p>Cody M. Tillinghast 1, Joshua L. Gary 1
Cyril Mauffrey 1, David J. Hak 2, Murphy P. Martin III 3.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/32091744/#">view article</a></button>
</div>
<br>
<div>
 <h3>24.COL1A1/2 Osteogenesis Imperfecta.</h3>
 <p>Galeote Rodríguez JE.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/20301472/">view article</a></button>
</div>
<br>
<div>
 <h3>25.Fragility Fracture Audit</h3>
 <p>Cristina Ojeda-Thies.</p>
 <button>
 <a href=" https://www.ncbi.nlm.nih.gov/books/NBK565569/">view article</a></button>
</div>
<br>
<div>
 <h3>26.Cognitive-behavioural therapy for a variety of conditions: an overview of systematic reviews and panoramic meta-analysis.</h3>
 <p>Fordham B, Sugavanam T, Edwards K, Hemming K, Howick J, Copsey B, Lee H, Kaidesoja M, Kirtley S, Hopewell S, das Nair R, Howard R, Stallard P, Hamer-Hunt J, Cooper Z, Lamb SE.F</p>
 <button>
 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7957459/">view article</a></button>
</div>
<br>
<div>
 <h3>26.Nursing in the Orthogeriatric Setting</h3>
 <p>Julie Santy-Tomlinson 1, Karen Hertz 2, Charlotte Myhre-Jensen 3, Louise Brent 4
Paolo Falaschi 1, David Marsh 2</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33347231/">view article</a></button>
</div>
<br>
<div>
 <h3>27.Osteoporosis and Fragility in Elderly Patients</h3>
 <p>Paolo Falaschi 1 2, Andrea Marques 3 4, Stefania Giordano 5
Paolo Falaschi 1, David Marsh 2</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33347225/">view article</a></button>
</div>
<br>
<div>
 <h3>28.Current and Emerging Treatment of Osteoporosis</h3>
 <p> Laura Tafaro 1, Nicola Napoli 2
Paolo Falaschi 1, David Marsh </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33347216/">view article</a></button>
</div>
<br>

<div>
 <h3>29.Treatment of first-time traumatic anterior shoulder dislocation: the UK TASH-D cohort study</h3>
 <p>Jonathan L Rees 1 </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/31043225/">view article</a></button>
</div>
<br>

<div>
 <h3>30.Fracture Risk Assessment and How to Implement a Fracture Liaison Service</h3>
 <p>Nicholas R. Fuggle 1, M. Kassim Javaid 2, Masaki Fujita 3, Philippe Halbout 3, Bess Dawson-Hughes 4, Rene Rizzoli 5, Jean-Yves Reginster 6, John A. Kanis 7, Cyrus Cooper 1
Paolo Falaschi 1, David Marsh.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33347219/">view article</a></button>
</div>
<br>

<div>
 <h3>31.Artificial Intelligence and Orthopaedics: An Introduction for Clinicians</h3>
 <p>Thomas G Myers 1, Prem N Ramkumar 2, Benjamin F Ricciardi 1, Kenneth L Urish 3, Jens Kipper 4, Constantinos Ketonis</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/32379124/">view article</a></button>
</div>
<br>

<div>
 <h3>32.Advanced rehabilitation technology in orthopaedics-a narrative review.</h3>
 <p>Yuichi Kuroda # 1, Matthew Young # 1, Haitham Shoman 1, Anuj Punnoose 1, Alan R Norrish 2, Vikas Khanduja 3.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33051693/">view article</a></button>
</div>
<br>

<div>
 <h3>33. Ann R Coll Surg Engl
. 2018 May;100(6_sup):8-15. doi: 10.1308/rcsann.supp1.8.
Robotics in trauma and orthopaedics.</h3>
 <p>Karthik Karuppiah 1, Joydeep Sinha.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/29717889/</a></button>
</div>
<br>

<div>
 <h3>34.Central and Eastern Europe actual orthopaedics profile.</h3>
 <p><b>Vane Antolič 1, Marko Bumbaširević 2, Marko Pećina 3
Affiliations expand.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33738518/">view article</a></button>
</div>
<br>

<div>
 <h3>35.Regenerative orthopaedics: in vitro, in vivo...in silico.</h3>
 <p><b>Liesbet Geris.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/24984594/">view article</a></button>
</div>
<br>

<div>
 <h3>36.Patient reported outcomes in orthopaedics</h3>
 <p>Joel J Gagnier .</p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/28513993/>view article</a></button>
</div>
<br>

<div>
 <h3>37Review Eur J Med Res
. 2021 Jun 14;26(1):56. doi: 10.1186/s40001-021-00521-x.
The future of basic science in orthopaedics and traumatology: Cassandra or Prometheus?.</h3>
 <p><b>Henning Madry 1, Susanne Grässel 2, Ulrich Nöth 3, Borna Relja 4, Anke Bernstein 5, Denitsa Docheva 6, Max Daniel Kauther 7, Jan Christoph Katthagen 8, Rainer Bader 9, Martijn van Griensven 10, Dieter C Wirtz 11, Michael J Raschke 8, Markus Huber-Lang </b>
  2020 Aug 21. In: Falaschi P, Marsh D, editors. Orthogeriatrics: The Management of Older Patients with Fragility Fractures [Internet].<br>
   2nd edition. Cham (CH): Springer; 2021. Chapter 4.</p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/34127057/>view article</a></button>
</div>
<br>

<div>
 <h3>38.Digital Orthopaedics: A Glimpse Into the Future in the Midst of a Pandemic</h3>
 <p><b>Stefano A Bini 1, Peter L Schilling 1, Shaun P Patel 2, Niraj V Kalore 3, Michael P Ast 4, Joseph D Maratt 5, Dustin J Schuett 6, Charles M Lawrie 7, Christopher C Chung 8, G Daxton Steele </p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/32416956/>view article</a></button>
</div>
<br>

<div>
 <h3>39.Improving translation success of cell-based therapies in orthopaedics.</h3>
 <p><b>Jennifer J Bara 1, Marietta Herrmann 1, Christopher H Evans 2, Theodore Miclau 3, Anthony Ratcliffe 4, R Geoff Richards</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/26403666/">view article</a></button>
</div>
<br>

<div>
 <h3>40.Top orthopedic sports medicine procedures.</h3>
 <p><b>Sebastiano Vasta 1, Rocco Papalia 2, Erika Albo 1, Nicola Maffulli 3 4, Vincenzo Denaro 1
  2000 Feb 24 [updated 2020 Dec 3].</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30064451/">view article</a></button>
</div>
<br>

<div>
 <h3>41.CORR Synthesis: What Is the Current Understanding of Overlapping Surgery in Orthopaedics, Particularly as it Relates to Patient Outcomes and Perceptions?.</h3>
 <p><b>Daniel Pereira 1, Donald H Lee .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33239517/">view article</a></button>
</div>
<br>

<div>
 <h3>42Recommendations from the Italian Society of Pediatric Orthopaedics and Traumatology for the management of pediatric orthopaedic patients during the COVID19 pandemic and post-pandemic period in Italy</h3>
 <p><b>Giovanni Trisolino 1, Carlo Enrico Origo 2, Nando De Sanctis 3, Daniela Dibello 4, Pasquale Farsetti 5, Cosimo Gigante 6, Pasquale Guida 7, Lorenza Marengo 8, Elena Panuccio 9, Renato Maria Toniolo 10, Fabio Verdoni 11, Antonio Memeo.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33032650/">view article</a></button>
</div>
<br>

<div>
 <h3>43.Epub 2021 Dec 10.
Ethics watch and editorial innovations in Orthopaedics & Traumatology: Surgery & Research/</h3>
 <p><b>Epub 2021 Dec 10.
Ethics watch and editorial innovations in Orthopaedics & Traumatology: Surgery & Research</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34902594/">view article</a></button>
</div>
<br>
<div>
 <h3>44.Women and Underrepresented Minorities in Orthopaedics</h3>
 <p>Jennifer Weiss 1, Michelle S Caird.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/27294872/">view article</a></button>
</div>
<br>
<div>
 <h3>45.Clinical Orthopaedics and Related Research, The Bone & Joint Journal, The Journal of Orthopaedic Research, and The Journal of Bone and Joint Surgery will not accept clinical research manuscripts previously posted to preprint servers</h3>
 <p>Seth S Leopold, Fares S Haddad, Linda J Sandell, Marc Swiontkowski.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30601050/">view article</a></button>
</div>
<br>
<div>
 <h3>46.doi: 10.5435/JAAOSGlobal-D-21-00028.
Academic Orthopaedics As a Driver of Gender Diversity in the Orthopaedic Workforce: A Review of 4,519 Orthopaedic Faculty Members</h3>
 <p>doi: 10.5435/JAAOSGlobal-D-21-00028.
Academic Orthopaedics As a Driver of Gender Diversity in the Orthopaedic Workforce: A Review of 4,519 Orthopaedic Faculty Members.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/35134006/">view article</a></button>
</div>
<br>
<div>
 <h3>47.Shoulder and Elbow Injuries in the Adolescent Throwing Athlete</h3>
 <p>Steven DeFroda 1, Patrick McGlone 2, James Levins 1, Ryan O'Donnell 1, Aristides I Cruz 3, Peter K Kriz 4</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/32872686/">view article</a></button>
</div>
<br>
<div>
 <h3>48Efficacy of platelet-rich plasma as conservative treatment in orthopaedics</h3>
 <p>Efficacy of platelet-rich plasma as conservative treatment in orthopaedics</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30388071/">view article</a></button>
</div>
<br>
<div>
 <h3>49.Gender, Race, and Ethnicity-Harassment in Orthopaedics and #SpeakUpOrtho</h3>
 <p>Gender, Race, and Ethnicity-Harassment in Orthopaedics and #SpeakUpOrtho</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34213502/">view article</a></button>
</div>
<br>
<div>
 <h3>50.The Economic Impact of Orthopaedics in Missouri</h3>
 <p> Abhishek Kantamneni 1, Akin Cil 2, Brian Treece 3, Mark Bernhardt 4 </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30228610/">view article</a></button>
</div>
<br>

<div>
 <h3>51.Dreams come true: the soul and spirit of orthopaedics
y</h3>
 <p>Masahiro Kurosaka </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/24595646/">view article</a></button>
</div>
<br>

<div>
 <h3>52.Orthopaedics in the dawn of civilisation, practices in ancient Egypt</h3>
 <p>Galal Zaki Said.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/24240438/">view article</a></button>
</div>
<br>

<div>
 <h3>53.New surgical techniques and social media in orthopaedics. Is a scientific peer-reviewed journal assimilated to a social media platform?</h3>
 <p>Marius M Scarlat 1, Andreas Mavrogenis 2, Philippe Hernigou 3, James P Waddell </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/36534163/">view article</a></button>
</div>
<br>

<div>
 <h3>54.Out of hours' orthopaedics in an Irish regional trauma unit and the impact of COVID-19.</h3>
 <p>Luke Turley 1, John Mahon 2, Eoin Sheehan 2.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/35999484/">view article</a></button>
</div>
<br>

<div>
 <h3>55. https://pubmed.ncbi.nlm.nih.gov/35999484/.</h3>
 <p>Alex Trompeter</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34117919/</a></button>
</div>
<br>

<div>
 <h3>56.The challenge of orthopedic education.</h3>
 <p><b>The challenge of orthopedic education.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/35139585/">view article</a></button>
</div>
<br>

<div>
 <h3>57.
Orthopaedic surgery, women and SECOT.</h3>
 <p><b>J E Galeote Rodríguez.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/24984594/">view article</a></button>
</div>
<br>

<div>
 <h3>58.Implementation of research evidence in orthopaedics: a tale of three trials</h3>
 <p>Katharine Reeves 1, Samuel Chan 2, Alastair Marsh 2, Suzy Gallier 2, Catrin Wigley 3, Kamlesh Khunti 4, Richard J Lilford .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/31776198/">view article</a></button>
</div>
<br>

<div>
 <h3>59.Review Eur J Med Res
. 2021 Jun 14;26(1):56. doi: 10.1186/s40001-021-00521-x.
The future of basic science in orthopaedics and traumatology: Cassandra or Prometheus?.</h3>
 <p><b>Henning Madry 1, Susanne Grässel 2, Ulrich Nöth 3, Borna Relja 4, Anke Bernstein 5, Denitsa Docheva 6, Max Daniel Kauther 7, Jan Christoph Katthagen 8, Rainer Bader 9, Martijn van Griensven 10, Dieter C Wirtz 11, Michael J Raschke 8, Markus Huber-Lang </b>
  2020 Aug 21. In: Falaschi P, Marsh D, editors. Orthogeriatrics: The Management of Older Patients with Fragility Fractures [Internet].<br>
   2nd edition. Cham (CH): Springer; 2021. Chapter 4.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34127057/"view article</a></button>
</div>
<br>

<div>
 <h3>60.JOR Virtual Issue on stem cells in orthopaedics</h3>
 <p><b>Linda J Sandell 1</p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/29228506/>view article</a></button>
</div>
<br>

<div>
 <h361.What You Can Do to Support Women in Orthopaedics Worldwide</h3>
 <p><b>Seth S Leopold </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34347650/">view article</a></button>
</div>
<br>

<div>
 <h3>62.Sufficient Competence to Enter the Unsupervised Practice of Orthopaedics: What Is It, When Does It Occur, and Do We Know It When We See It? AOA Critical Issues.</h3>
 <p><b>Sufficient Competence to Enter the Unsupervised Practice of Orthopaedics: What Is It, When Does It Occur, and Do We Know It When We See It? AOA Critical Issues</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/26333742/">view article</a></button>
</div>
<br>

<div>
 <h3>63.Artificial intelligence in orthopaedics: A scoping review.</h3>
 <p><b>Artificial intelligence in orthopaedics: A scoping review.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34813611/">view article</a></button>
</div>
<br>

<div>
 <h3>64.The breadth of orthopaedics: in print and on the web</h3>
 <p><b>F S Haddad .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/24493176/">view article</a></button>
</div>
<br>

<div>
 <h3>65.Metaverse, AR, machine learning & AI in Orthopaedics?/</h3>
 <p><b>Edward Ted Mah</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/36932039/">view article</a></button>
</div>
<br>



<div>
 <h3>66.The "GENESIS" of modern orthopaedics: portraits of three illustrious pioneers</h3>
 <p>Berardo Di Matteo 1, Vittorio Tarabella, Giuseppe Filardo, Patrizia Tomba, Anna Viganò, Maurilio Marcacci.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/23715955/">view article</a></button>
</div>
<br>
<div>
 <h3>67.Learning From Large-Scale Orthopaedic Databases</h3>
 <p>Mitchell Maltenfort 1, Jonathan N Grauer </p>
 <button>
 <a href=" https://pubmed.ncbi.nlm.nih.gov/28536854/">view article</a></button>
</div>
<br>
<div>
 <h3>68.[Orthopaedic surgery in Iceland on crossroads]</h3>
 <p>Yngvi Olafsson .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/31192787/">view article</a></button>
</div>
<br>
<div>
 <h3>69.Evaluation of the orthopaedics and traumatology resident education in Turkey: A descriptive study</h3>
 <p>Gazi Huri 1, Yusuf Sertan Cabuk 2, Safa Gursoy 3, Mustafa Akkaya 3, Secil Ozkan 4, Volkan Oztuna 5, Onder Aydingoz 6, Alparslan Senkoylu</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/27713071/">view article</a></button>
</div>
<br>
<div>
 <h3>70.Quest for Science, Spirit, and Skills</h3>
 <p>Toshifumi Ozaki .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/36642582/">view article</a></button>
</div>
<br>
<div>
 <h3>71.The Forward Movement: Amplifying Black Voices on Race and Orthopaedics-No Room for Bystanders</h3>
 <p>https://pubmed.ncbi.nlm.nih.gov/34085998/</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34085998/">view article</a></button>
</div>
<br>
<div>
 <h3>72.Mixed reality as a novel tool for diagnostic and surgical navigation in orthopaedics
 </h3>
 <p> Andrea Teatini 1 2, Rahul P Kumar 3, Ole Jakob Elle 3 4, Ola Wiig 5
Affiliations expand</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33555563/">view article</a></button>
</div>
<br>

<div>
 <h3>73.Telemedicine in orthopaedics and trauma surgery during the first year of COVID pandemic: a systematic review</h3>
 <p>Ulf Krister Hofmann 1, Frank Hildebrand 1, Moritz Mederake 2, Filippo Migliorini 3 </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/36750962/">view article</a></button>
</div>
<br>

<div>
 <h3>74.Cognitive Training in Orthopaedic Surgery</h3>
 <p>Matthew J J Anderson 1, Alirio J deMeireles, David P Trofa, David Kovacevic, Christopher S Ahmad, Thomas S Lynch.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33720112/">view article</a></button>
</div>
<br>

<div>
 <h3>75.Nanotechnology-based drug delivery systems in orthopedics</h3>
 <p>Eylem Güven 1</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33463450/">view article</a></button>
</div>
<br>

<div>
 <h3>77.Applications of 3D Printing Technology in Orthopedic Treatment.</h3>
 <p>Xiaojun Duan 1, Ben Wang 2, Liu Yang 1, Anish R Kadakia .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34423040/">view article</a></button>
</div>
<br>

<div>
 <h3>78.The new 'normal': Rapid adoption of telemedicine in orthopaedics during the COVID-19 pandemic.</h3>
 <p>Andrew M Rizzi 1, William S Polachek 2, Matthew Dulas 3, Jason A Strelzow 2, Kelly K Hynes 2</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/32951916/">view article</a></button>
</div>
<br>

<div>
 <h3>79.Oral information in orthopaedics: how should the patient's understanding be assessed</h3>
 <p><b>K Giudici 1, P Gillois 2, H Coudane 3, F Claudot 4.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/25666421/">view article</a></button>
</div>
<br>

<div>
 <h3>80.Selected Proceedings from the 2019 European Knee Society Meetings</h3>
 <p><b>Emmanuel Thienpont </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/32744447/">view article</a></button>
</div>
<br>

<div>
 <h3>81.Professional liability in orthopaedics and traumatology in Italy.</h3>
 <p><b>Umberto Tarantino 1, Alessio Giai Via, Ernesto Macrì, Alessandro Eramo, Valeria Marino, Luigi Tonino Marsella.</p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/23857317/>view article</a></button>
</div>
<br>

<div>
 <h3>82.Modern Orthopedics in Israel in the 21th Century: An Update.</h3>
 <p><b>Moshe Salai </b>
  2020 Aug 21. In: Falaschi P, Marsh D, editors. Orthogeriatrics: The Management of Older Patients with Fragility Fractures [Internet].<br>
   2nd edition. Cham (CH): Springer; 2021. Chapter 4.</p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/34392618/>view article</a></button>
</div>
<br>

<div>
 <h3>83.Using radar plots for performance benchmarking at patient and hospital levels using an Australian orthopaedics dataset.</h3>
 <p><b>Daniel M Morales-Silva 1, Cameron S McPherson 2, Guillermo Pineda-Villavicencio 3, Rory Atchison</p>
 <button>
 <a href=https://pubmed.ncbi.nlm.nih.gov/31957560/>view article</a></button>
</div>
<br>

<div>
 <h3>84.Alleged malpractice in orthopaedics. Analysis of a series of medmal insurance claims</h3>
 <p><bM B Casali 1, A Blandino 2, S Del Sordo 2, G Vignali 2, S Novello 2, G Travaini 2, M Berlusconi 3, U Genovese</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30112637/">view article</a></button>
</div>
<br>

<div>
 <h3>85.Future prospects for orthopaedic surgery in Japan</h3>
 <p><b>Tomoyuki Saito .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/26922285/">view article</a></button>
</div>
<br>

<div>
 <h3>86.The importance of diversity, equity, and inclusion in orthopedic research.</h3>
 <p><b>Tamara Alliston 1, Kharma C Foucher 2, Brenda Frederick 3, Christopher J Hernandez 4, James C Iatridis 5, Kenneth M Kozloff 6, Karl J Lewis 7, X Sherry Liu 8, Deana M Mercer 9, Ruth Ochia 10, Robin M Queen 11, Clare M Rimnac 12, Marjolein C H van der Meulen 4, Jennifer J Westendorf </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/32267012/">view article</a></button>
</div>
<br>

<div>
 <h3>87.Collaborative partnerships and the future of global orthopaedics.</h3>
 <p><b>Saam Morshed 1, David W Shearer, R Richard Coughlin.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/23884799/">view article</a></button>
</div>
<br>

<div>
 <h3>88.Innovations in Orthopedics and Traumatology</h3>
 <p><b>Ying-Ze Zhang </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/26521778/">view article</a></button>
</div>
<br>
<div>
 <h3>89.Prioritisation of patients requiring orthopaedic trauma surgery: A call for action</h3>
 <p>Sharon Scott .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/35190173/">view article</a></button>
</div>
<br>
<div>
 <h3>90. What is Narrative Medicine, and Why Should We Use it in Orthopaedic Practice?.</h3>
 <p>Seth S Leopold.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30239354/">view article</a></button>
</div>
<br>
<div>
 <h3>91.Future orthopedic training, a global watch</h3>
 <p>L Felländer-Tsai, K M Chan, K Holen, W Walter, T P Sculco, S Rajasekaran, M H Darwish, B A Kornah, C G Rolf, W Puhl, H Yuan, H Hedin.</p>
 <button>
 <a href=" https://www.ncbi.nlm.nih.gov/books/NBK565569/">view article</a></button>
</div>
<br>
<div>
 <h3>92.Normality after pandemic in surgery and research. The role of orthopaedic publications.</h3>
 <p>Jing Sun 1, Marius M Scarlat 2, Andreas F Mavrogenis 3, Philippe Hernigou.F</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/37004551/">view article</a></button>
</div>
<br>
<div>
 <h3>93.Statistical Fragility of Surgical Clinical Trials in Orthopaedic Trauma</h3>
 <p>Lynn Ann Forrester 1, Kyle L McCormick, Lisa Bonsignore-Opp, Liana J Tedesco, Eric S Baranek, Eugene S Jang, Wakenda K Tyler</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34807889/">view article</a></button>
</div>
<br>
<div>
 <h3>94SICOT PIONEER (Programme of Innovative Orthopaedic Networking Education and Research): Re-inventing global orthopaedic education, training and research</h3>
 <p>Gowreeson Thevendran 1, Vikas Khanduja 2</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/35267073/">view article</a></button>
</div>
<br>
<div>
 <h3>95.The Mission of the American Orthopaedic Society for Sports Medicine: </h3>
 <p> Robert Stanton
PMID: 30153099 </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30153099/">view article</a></button>
</div>
<br>

<div>
 <h3>96.Trauma and orthopaedic research is being driven by priorities identified by patients, surgeons, and other key stakeholders
Stephen E Gwilym 1, </h3>
 <p>Jonathan L Rees 1 </p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/34334051/">view article</a></button>
</div>
<br>

<div>
 <h3>97.Peri-operative anaemia management in major orthopaedic surgery: the need to find a pathway</h3>
 <p>Manuel Muñoz 1, Susana Gómez-Ramírez 2, Giancarlo M Liumbruno.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/28151384/">view article</a></button>
</div>
<br>

<div>
 <h3>98.ARoll Them Bones-Selecting Orthopaedic Surgery Residents by Lotterys</h3>
 <p>Joseph Bernstein</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/31764324/">view article</a></button>
</div>
<br>

<div>
 <h3>99.Advanced rehabilitation technology in orthopaedics-a narrative review.</h3>
 <p>Yuichi Kuroda # 1, Matthew Young # 1, Haitham Shoman 1, Anuj Punnoose 1, Alan R Norrish 2, Vikas Khanduja 3.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/33051693/">view article</a></button>
</div>
<br>

<div>
 <h3>100. Threshold P Values in Orthopaedic Research-We Know the Problem. What is the Solution?</h3>
 <p>Karthik Karuppiah 1, Joydeep Sinha.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/29717889/</a></button>
</div>
<br>

<div>
 <h3>101.Central and Eastern Europe actual orthopaedics profile.</h3>
 <p><b>Seth S Leopold 1, Raphaël Porcher</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/30024469/">view article</a></button>
</div>
<br>

<div>
 <h3>101.RA Day at the Office: State Orthopaedic Societies: The "ARM" of the Private-Practicing Orthopaedic Surgeon.</h3>
 <p><b>Liesbet Geris.</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/27900713/">view article</a></button>
</div>
<br>

<div>
 <h3>102.Publication of surgeon level data from registers: who benefits?</h3>
 <p>Joel J Gagnier .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/26733507/">view article</a></button>
</div>
<br>

<div>
 <h3>103.Evidence-based decision making at the core of orthopaedic practice.</h3>
 <p><b>X L Griffin 1, F S Haddad .</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/25086112/">view article</a></button>
</div>
<br>

<div>
 <h3>104.Preclinical models for orthopedic research and bone tissue engineering</h3>
 <p><b>Aaron Schindeler 1 2, Rebecca J Mills 1, Justin D Bobyn 1 2, David G Little 1</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/29205478/">view article</a></button>
</div>
<br>

<div>
 <h3>105.Improving translation success of cell-based therapies in orthopaedics.</h3>
 <p><b>Jennifer J Bara 1, Marietta Herrmann 1, Christopher H Evans 2, Theodore Miclau 3, Anthony Ratcliffe 4, R Geoff Richards</p>
 <button>
 <a href="https://pubmed.ncbi.nlm.nih.gov/26403666/">view article</a></button>
</div>
<br>




</body>

</html>